

// Variables  ---------------------------------------------------------------------------------
// theme based variables

//fixed variables
// header_primary and header_background should always be set to #0a0a23 and #fff respectively
$--global-nav-height: 38px;

$hints-index: 1000;

$--header-offset: 10px; 

// media query mixin --------------------------------------------------------------------------------------
$breakpoints: (
  'screen-xxs-max': 400px,
  'screen-xs-min': 401px,
  'screen-xs-max': 499px,
  'screen-sm-min': 500px,
  'screen-sm-max': 799px,
  'screen-md-min': 800px,
  'screen-md-max': 850px,
  'screen-lg-min': 851px,
  'screen-lg-max': 1019px,
  'screen-xl-min': 1020px,
  'screen-xl-max': 1109px,
  'screen-xxl-min': 1200px
);

@mixin at-least($device-width) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $device-width);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }
}

@mixin until($device-width) {
  $value: map-get($breakpoints, $device-width);

  @if $value != null {
    @media (max-width: $value) {
      @content;
    }
  }
}

// media query usage
// @include at-least(screen-xxs-max) { ... }
// @include until(screen-xxs-max) { ... }

// fonts --------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700");

// focus outline mixin ---------------------------------------------------------------

@mixin focus-outline {
  outline: 3px solid var(--blue-50) !important;
  outline-offset: 0 !important;
}

// general ---------------------------------------------------------------
html {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

:focus-visible {
  @include focus-outline;
}

@supports not selector(:focus-visible) {
  :focus {
    @include focus-outline;
  }
}

/* Footer ---------------------------------------------------------- */
.site-footer {
  position: relative;
  color: var(--fcc-secondary-color);
  background: var(--fcc-secondary-background);
  line-height: 1.6;
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  overflow-x: hidden;
  width: min(100%, 1300px);
}

.footer-container p {
  margin: 0 0 1.45rem;
  line-height: 30px;
}

.footer-container a {
  color: var(--fcc-secondary-color);
  text-decoration: none;
}

.footer-container a:hover,
.footer-container a:active {
  text-decoration: underline;
}

.footer-container .col-header {
  flex: 0 0 100%;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 0 15px 15px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
}

.footer-desc-col {
  flex: 1 0 90%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.footer-desc-col a {
  text-decoration: underline;
}

p.footer-donation {
  font-weight: 700;
  font-size: 18px;
}

.footer-donation a:hover,
.footer-donation a:active {
  text-decoration: none;
}

.footer-container .col-spacer {
  margin-top: -3rem;
}

.trending-guides {
  margin: 0 0 3rem;
}

.footer-bottom .our-nonprofit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-bottom .our-nonprofit a {
  padding: 5px 10px;
}

.trending-guides-articles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
}

@include at-least(screen-sm-min) {
  .footer-top {
    grid-template-columns: repeat(auto-fit, minmax(30.5em, 1fr));
  }

  .trending-guides-articles {
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
  }
}

@include at-least(screen-md-min) {
  .trending-guides-articles {
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  }

  .footer-container .col-spacer {
    margin-top: 40px;
  }
  .footer-bottom .our-nonprofit a {
    padding: 5px;
  }
}

@include at-least(screen-xl-min) {
  .trending-guides-articles {
    grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  }
}

@include at-least(screen-xxl-min) {
  .footer-desc-col {
    flex: 1 0 45%;
  }
  .trending-guides {
    flex: 1 0 58%;
  }

  p.footer-donation {
    margin-top: 18px;
  }

  .footer-bottom .our-nonprofit {
    padding: 0 10px;
    justify-content: space-between;
  }

  .footer-bottom .col-header {
    display: none;
  }
  .our-nonprofit {
    margin-top: 20px;
  }
  .footer-divider {
    height: 1px;
    margin: 0 15px;
    background-color: var(--fcc-tertiary-background);
  }
}

// navigation ----------------------------------------------------x-----------------------------
.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-family: Lato, sans-serif;
  height: $--global-nav-height;
  background-color: var(--gray90);
  z-index: $hints-index;
  color: #fff;
  width: 100%;
  top: 0px;
}

.site-nav-logo {
  font-size: 1.7rem;
  line-height: 1em;
  letter-spacing: -0.5px;
}

.site-nav-logo:hover {
  text-decoration: none;
}

.site-nav-logo img {
  width: auto;
  height: 24px;
  margin: 7px 0px;
}

#main-outlet {
  padding-top: 0px;
}

#main-outlet-wrapper {
    padding-top: $--global-nav-height * 2;
}

.d-header {
  background: var(--secondary-header-background);
  margin-top: $--global-nav-height;
  height: $--global-nav-height;
  background-color: var(--gray85);
  box-shadow: none;
  position: fixed;
  z-index: $hints-index - 3;
  top: 0;
}

.d-header .title {
  display: none;
}

body.no-ember {
  .d-header {
    margin-top: 0px;
    top: 0px;
    background-color: var(--gray90);
    #site-logo {
      max-width: 40vw;
      height: auto;
      max-height: 24px;
    }
    .title {
      display: flex;
    }
  }
  .curriculum-nav,
  .site-nav {
    display: none;
  }
}

.d-header .d-header-icons {
  font-family: "Roboto Mono", monospace;
}

.d-header .extra-info-wrapper + .panel .header-buttons,
.d-header .extra-info-wrapper + .panel .d-header-icons {
  display: flex;
}

.d-header-icons {
  height: 38px;
}

.d-header-icons .icon {
  height: 38px;
  width: 42px;
  padding: 2px;
  box-sizing: border-box;
  border: 0px !important;

  &:active,
  &:hover,
  &:focus {
    border: 0px !important;
    background-color: var(--gray75) !important;
  }
}

.d-header-icons .btn .d-icon {
  color: var(--fcc-gray-mid);
}

.d-header-icons .icon:hover .d-icon,
.d-header-icons .icon:focus .d-icon {
  color: var(--header_primary);
}

.d-header-icons .icon img.avatar {
  width: 70%;
  height: auto;
}

a.curriculum-nav {
  color: white;
  padding: 0 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.curriculum-nav:hover,
a.curriculum-nav:focus {
  color: var(--gray90);
  background-color: var(--header_primary);
}

.navigation-container {
  align-items: center;
}
// header  ----------------------------
.d-header .widget-link.topic-link {
  color: var(--gray05);
}

.d-header .categories-wrapper,
.d-header .extra-info-wrapper {
  display: none;
}

.d-header > .wrap {
  width: 100%;
  padding: 0px;
  margin: 0px 15px;
  max-width: 100vw;
}

.d-header .header-buttons {
  margin-top: 0;
}

.docked .d-header .title a {
  width: auto;
  height: auto;
  &:before {
    content: "";
    position: blocked;
    top: auto;
    left: auto;
  }
  &:hover,
  &:focus {
    background-color: var(--gray90);
    color: var(--gray90);
  }
}

.docked #site-logo {
  display: block;
  width: auto;
}

.loading-indicator-container {
  z-index: 1201;
}

@include until(screen-xxs-max) {
  .d-header > .wrap {
    margin: 0px 5px;
  }

  a.curriculum-nav {
    left: 5px;
    padding: 0 5px;
  }

  .d-header-icons {
    margin: 0px;
  }
}

@include at-least(screen-md-min) {
  #main-outlet {
    padding-top: $--global-nav-height;
  }
  .d-header {
    background-color: var(--gray90);
  }
  .site-nav {
    z-index: 1200;
    width: 210px;
    background-color: none;
    left: 50%;
    margin-left: -105px;
  }
  .d-header {
    margin-top: 0px;
    top: 0px;
  }
  .d-header-icons .icon {
    width: 49px;
  }
  body.no-ember .d-header #site-logo {
    position: absolute;
    margin: 7px 0 7px -105px;
    top: 0px;
    left: 50%;
  }
}

