// common/common.scss

@import "color_definitions.scss";

$--global-nav-height: 38px;
$hints-index: 1000;
$--header-offset: 10px;

$breakpoints: (
  "screen-xxs-max": 400px,
  "screen-xs-min": 401px,
  "screen-xs-max": 499px,
  "screen-sm-min": 500px,
  "screen-sm-max": 799px,
  "screen-md-min": 800px,
  "screen-md-max": 850px,
  "screen-lg-min": 851px,
  "screen-lg-max": 1019px,
  "screen-xl-min": 1020px,
  "screen-xl-max": 1109px,
  "screen-xxl-min": 1200px,
);

@mixin at-least($device-width) {
  $value: map-get($breakpoints, $device-width);
  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  }
}

@mixin until($device-width) {
  $value: map-get($breakpoints, $device-width);
  @if $value != null {
    @media (max-width: $value) {
      @content;
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700");

@mixin focus-outline {
  outline: 3px solid var(--blue-50) !important;
  outline-offset: 0 !important;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

:focus-visible {
  @include focus-outline;
}

@supports not selector(:focus-visible) {
  :focus {
    @include focus-outline;
  }
}

/* ---------------- Footer ---------------- */
.site-footer {
  position: relative;
  color: var(--fcc-secondary-color);
  background: var(--fcc-secondary-background);
  line-height: 1.6;
}

.footer-container {
  margin: 0 auto;
  padding: 40px 15px;
  font-size: 16px;
  max-width: 1300px;
  width: min(100%, 1300px);
}

.footer-container p {
  margin: 0 0 1.45rem;
  line-height: 30px;
}

.footer-container a {
  color: var(--fcc-secondary-color);
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  gap: 1rem;
}

.footer-desc-col {
  flex: 1 0 90%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin-bottom: 30px;

  a {
    text-decoration: underline;
  }
}

@include at-least(screen-sm-min) {
  .footer-top {
    grid-template-columns: repeat(auto-fit, minmax(30.5em, 1fr));
  }
  .trending-guides-articles {
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
  }
}

@include at-least(screen-md-min) {
  .footer-top {
    grid-template-columns: repeat(auto-fit, minmax(30.5em, 1fr));
  }
  .footer-container .col-spacer {
    margin-top: 40px;
  }
}

/* ---------------- Header ---------------- */
.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: $--global-nav-height;
  width: 100%;
  z-index: $hints-index;
  background-color: var(--gray90);
  color: #fff;
  font-family: Lato, sans-serif;
}

.site-nav-logo {
  font-size: 1.7rem;
  line-height: 1em;
  letter-spacing: -0.5px;
  img {
    width: auto;
    height: 24px;
    margin: 7px 0;
  }
}

.d-header {
  background: var(--secondary-header-background);
  margin-top: $--global-nav-height;
  height: $--global-nav-height;
  box-shadow: none;
  position: static;
  z-index: $hints-index - 3;

  .d-header-icons {
    font-family: "Roboto Mono", monospace;
    height: 38px;
    .icon {
      height: 38px;
      width: 42px;
      padding: 2px;
      &:hover,
      &:focus,
      &:active {
        background-color: var(--gray75) !important;
      }
      .d-icon {
        color: var(--fcc-gray-mid);
      }
    }
  }
}

/* ---------------- Buttons ---------------- */
.btn {
  color: var(--primary) !important;
  background-color: transparent;
  border: 3px solid var(--primary);
  &:hover,
  &:focus,
  &.btn-hover,
  &.btn-active {
    background-color: var(--primary) !important;
    color: var(--fcc-quaternary-background) !important;
  }

  &.btn-primary {
    color: var(--fcc-tertiary-color);
    background-color: var(--fcc-tertiary-background);
    &:hover,
    &.btn-hover {
      background-color: var(--fcc-highlight-color);
      color: var(--fcc-secondary-background);
    }
  }

  &.btn-danger {
    color: var(--fcc-quaternary-color);
    background-color: $danger; // SCSS variable
    &:hover,
    &.btn-hover {
      background-color: $light-danger; // SCSS variable
      color: var(--fcc-quaternary-color);
    }
  }
}
