// functions  --------------------------------------------------------------------------------
@function fcc-highlight-lightness-switch($color) {
  @if $color == mix(#002ead, #002ead, 100%) {
    @return #99c9ff;
  }
  @return #002ead;
}

// Variables  ---------------------------------------------------------------------------------
// theme based variables
$fcc-primary-color: mix($primary, $secondary, 100%);
$fcc-secondary-color: mix($primary, $secondary, 93%);
$fcc-tertiary-color: mix($primary, $secondary, 87%);
$fcc-quaternary-color: mix($primary, $secondary, 80%);
$fcc-disabled-color: mix($primary, $secondary, 65%);
$fcc-gray-mid: mix($primary, $secondary, 50%);
$fcc-disabled-background: mix($primary, $secondary, 35%);
$fcc-quaternary-background: mix($primary, $secondary, 20%);
$fcc-tertiary-background: mix($primary, $secondary, 13%);
$fcc-secondary-background: mix($primary, $secondary, 7%);
$fcc-primary-background: mix($primary, $secondary, 0%);
$fcc-highlight-color: $tertiary;
$fcc-highlight-background: fcc-highlight-lightness-switch($fcc-highlight-color);
$fcc-highlight-mid: mix($fcc-highlight-color, $fcc-highlight-background, 50%);
$secondary-header-background: mix($header_primary, $header_background, 93%);

//fixed variables
// header_primary and header_background should always be set to #0a0a23 and #fff respectivley
$n: none;
$i: !important;
$--global-nav-height: 38px;
$--dark-blue: #002ead;
$header_primary: #fff;
$header_background: #0a0a23;
$--gray90: mix($header_background, $header_primary, 100%);
$--gray85: mix($header_background, $header_primary, 93%);
$--gray80: mix($header_background, $header_primary, 87%);
$--gray75: mix($header_background, $header_primary, 80%);
$--gray70: mix($header_background, $header_primary, 73%);
$--gray65: mix($header_background, $header_primary, 67%);
$--gray45: mix($header_background, $header_primary, 50%);
$--gray15: mix($header_background, $header_primary, 20%);
$--gray10: mix($header_background, $header_primary, 13%);
$--gray05: mix($header_background, $header_primary, 7%);
$--gray00: mix($header_background, $header_primary, 0%);
$hints-index: 1000;

// fonts --------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700");

// general ---------------------------------------------------------------
html {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

/* Footer ---------------------------------------------------------- */
.site-footer {
  position: relative;
  color: $fcc-secondary-color;
  background: $fcc-secondary-background;
  line-height: 1.6;
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  overflow-x: hidden;
}

.footer-container p {
  margin: 0 0 1.45rem;
  line-height: 30px;
}

.footer-container a {
  color: $fcc-secondary-color;
  text-decoration: none;
}

.footer-container a:hover,
.footer-container a:active {
  text-decoration: underline;
}

.footer-container .col-header {
  flex: 0 0 100%;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 0 15px 15px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}

.footer-right,
.footer-left {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

.footer-col a {
  padding: 5px 0px;
}

.footer-desc-col {
  flex: 1 0 90%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.footer-desc-col a {
  text-decoration: underline;
}

p.footer-donation {
  font-weight: 700;
  font-size: 18px;
}

.footer-donation a:hover,
.footer-donation a:active {
  text-decoration: none;
}

.footer-container .col-spacer {
  margin-top: -3rem;
}

.trending-guides {
  margin: 0 0 3rem;
}

.footer-buttom .our-nonprofit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-buttom .our-nonprofit a {
  padding: 5px 10px;
}

@media (min-width: 500px) {
  .trending-guides-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-col-3 {
    flex: 1 0 100%;
    flex-direction: row;
  }

  .footer-col-1,
  .footer-col-2,
  .footer-right,
  .footer-left {
    flex: 1 0 43%;
    height: auto;
    font-size: 15;
  }
}

@media (min-width: 800px) {
  .footer-container {
    width: 750px;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    flex: 1 0 25%;
    height: auto;
    font-size: 16.5;
  }
  .footer-col-3 {
    flex-direction: column;
  }
  .footer-right {
    padding-left: 0px;
  }
  .footer-container .col-spacer {
    margin-top: 40px;
  }
  .footer-buttom .our-nonprofit a {
    padding: 5px;
  }
}

@media (min-width: 1020px) {
  .footer-container {
    width: 850px;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    width: 1170px;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
  }
  .footer-desc-col {
    flex: 1 0 45%;
  }
  .trending-guides {
    flex: 1 0 58%;
  }

  .footer-col-1 {
    flex: 1 0 22%;
  }
  .footer-col-3 {
    flex: 1 0 30%;
  }
  .footer-col-2 {
    flex: 1 0 18%;
  }

  p.footer-donation {
    margin-top: 18px;
  }

  .footer-buttom .our-nonprofit {
    padding: 0 10px;
    justify-content: space-between;
  }

  .footer-buttom .col-header {
    display: none;
  }
  .our-nonprofit {
    margin-top: 20px;
  }
  .footer-divder {
    height: 1px;
    margin: 0 15px;
    background-color: $fcc-tertiary-background;
  }
}

// navigation ----------------------------------------------------x-----------------------------
.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-family: Lato, sans-serif;
  height: $--global-nav-height;
  background-color: $--gray90;
  z-index: $hints-index;
  color: #fff;
  width: 100%;
  top: 0px;
}

.site-nav-logo {
  font-size: 1.7rem;
  line-height: 1em;
  letter-spacing: -0.5px;
}

.site-nav-logo:hover {
  text-decoration: none;
}

.site-nav-logo img {
  width: auto;
  height: 24px;
  margin: 7px 0px;
}

#main-outlet {
  padding-top: $--global-nav-height * 2;
}

.d-header {
  background: $secondary-header-background;
  margin-top: $--global-nav-height;
  height: $--global-nav-height;
  background-color: $--gray85;
  box-shadow: none;
  position: fixed;
  z-index: $hints-index - 3;
  top: 0;
}

.d-header .title {
  display: none;
}

body.no-ember {
  .d-header {
    margin-top: 0px;
    top: 0px;
    background-color: $--gray90;

    #site-logo {
      max-width: 40vw;
      height: auto;
      max-height: 24px;
    }
    .title {
      display: flex;
    }
  }
  .curriculum-nav,
  .site-nav {
    display: none;
  }
}

.d-header .d-header-icons {
  font-family: "Roboto Mono", monospace;
}

.d-header .extra-info-wrapper + .panel .header-buttons,
.d-header .extra-info-wrapper + .panel .d-header-icons {
  display: flex;
}

.d-header-icons {
  height: 38px;
}

.d-header-icons .icon {
  height: 34px;
  width: 38px;
  padding: 2px;
  margin: 0px;
  border: 0px;
}

.drop-down-mode .d-header-icons .active .icon,
.d-header-icons .icon:hover,
.d-header-icons .icon:focus {
  border: 0px;
  background-color: $--gray75;
}

.d-header-icons .d-icon {
  color: $--gray65;
}

.d-header-icons .icon:hover .d-icon,
.d-header-icons .icon:focus .d-icon {
  color: $--gray45;
}

.d-header-icons .icon img.avatar {
  width: 70%;
  height: auto;
}

a.curriculum-nav {
  z-index: 1000;
  color: white;
  position: fixed;
  padding: 0 10px;
  left: 15px;
  height: $--global-nav-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.curriculum-nav:hover,
a.curriculum-nav:focus {
  color: $--gray90;
  background: $--gray00;
}

// header  ----------------------------
.d-header .widget-link.topic-link {
  color: $--gray05;
}

.d-header .categories-wrapper,
.d-header .extra-info-wrapper {
  display: none;
}

.d-header > .wrap {
  width: 100%;
  padding: 0px;
  margin: 0px 15px;
  max-width: 100vw;
}

.d-header .header-buttons {
  margin-top: 0;
}

.docked .d-header .title a {
  width: auto;
  height: auto;
  &:before {
    content: "";
    position: blocked;
    top: auto;
    left: auto;
  }
  &:hover,
  &:focus {
    background-color: $--gray90;
    color: $--gray90;
  }
}

.docked #site-logo {
  display: block;
  width: auto;
}

@media (max-width: 400px) {
  .d-header > .wrap {
    margin: 0px 5px;
  }

  a.curriculum-nav {
    left: 5px;
    padding: 0 5px;
  }

  .d-header-icons {
    margin: 0px;
  }
}

@media (min-width: 800px) {
  #main-outlet {
    padding-top: $--global-nav-height * 2;
  }
  .d-header {
    background-color: $--gray90;
  }
  .site-nav {
    z-index: 10000;
    width: 210px;
    background-color: none;
    left: 50%;
    margin-left: -105px;
  }
  .d-header {
    margin-top: 0px;
    top: 0px;
  }
  .d-header-icons .icon {
    width: 45px;
  }
  body.no-ember .d-header #site-logo {
    position: absolute;
    margin: 7px 0 7px -105px;
    top: 0px;
    left: 50%;
  }
}

// theme specific --------------------
.btn:hover d-icon,
.btn .d-icon,
.btn-primary .d-icon {
  color: inherit;
}

.d-header-icons .badge-notification {
  top: 0px;
}

img.avatar {
  border-radius: 0px;
  background: $fcc-gray-mid;
}

.topic-list .posters a:first-child .avatar.latest:not(.single) {
  position: relative;
  top: 0px;
  left: -2px;
}

.topic-list .posters a {
  border: 2px solid transparent;
  position: relative;
  top: 0px;
  left: -2px;
}

.topic-list .posters a:first-child .avatar.latest:not(.single) {
  box-shadow: none;
}

@media screen and (min-width: 851px) {
  .topic-list .posters {
    width: 162px;
  }
}

#banner .close,
.modal-header .modal-close {
  padding-left: 0;
}

.modal-header .modal-close:hover svg,
.modal-header .modal-close:focus svg {
  color: $fcc-primary-background $i;
}

.badge-notification,
.badge-group {
  border-radius: none;
}

//new topic
@media screen and (max-width: 850px) {
  button#create-topic span {
    display: inline;
  }
}

//main page grid ----------------------------
td.poster-names a {
  color: dark-light-choose($primary-medium, $secondary-medium);
}

#whos-online {
  color: dark-light-choose($primary-medium, $secondary-medium) $i;
}

//buttons ----------------------------
.btn,
.select-kit.dropdown-select-box .dropdown-select-box-header {
  position: relative;
  color: $primary $i;
  background-color: transparent;
  border: 3px solid $primary;

  &:focus,
  &:hover,
  &.btn-hover,
  &.btn-social:hover,
  &.btn-social.btn-hover,
  &:active,
  &.btn-active {
    background-color: $primary $i;
    color: $fcc-quaternary-background $i;
  }

  &[href] {
    color: $fcc-quaternary-color;
  }

  &[disabled],
  &.disabled {
    opacity: 0.6 $i;
  }

  &.hidden {
    display: $n;
  }

  &.btn-primary {
    color: $fcc-tertiary-color;
    background-color: $fcc-tertiary-background;
    &:hover,
    &.btn-hover {
      background-color: $fcc-highlight-color;
      color: $fcc-secondary-background;
    }
  }

  &.btn-danger {
    color: $fcc-quaternary-color;
    background-color: $danger;

    &:hover,
    &.btn-hover {
      background-color: lighten($danger, 15%);
      color: $fcc-quaternary-color;
    }
  }
}

.d-editor-button-bar button {
  background-color: transparent;
  border: $n;
  box-shadow: $n;
  background: $n;
}

// button exeptions
.d-editor-button-bar
  .select-kit.dropdown-select-box
  .dropdown-select-box-header {
  border: none;
}

.login-modal,
.create-account {
  .btn-social {
    background-color: transparent $i;
  }
}

.login-modal #login-buttons:not(.hidden) button,
.create-account #login-buttons:not(.hidden) button {
  white-space: initial;
}

// Pill nav ----------------------------

.nav-pills {
  > li {
    > a {
      color: $primary;
      border: 3px solid $primary;
      &:hover {
        color: $fcc-secondary-background;
        background-color: $primary;
        border: 3px solid $primary;
      }
    }
    a.active {
      color: $fcc-secondary-background;
      background-color: $primary;
      border: 3px solid $primary;
    }
  }
}

//topic-list ----------------------------
.list-controls {
  clear: both;
  margin-bottom: 5px;
  .combo-box .combo-box-header {
    background: $secondary;
    color: $primary;
    border: 3px solid $primary;
    padding: 6px 12px;
    font-size: $font-up-1;
    transition: none;
    height: $--global-nav-height;
    &:hover,
    &:focus {
      color: $fcc-secondary-background;
      background-color: $primary;
    }
  }
  .select-kit {
    align-self: center;
    .select-kit-collection {
      font-size: $font-down-1;
      max-height: 40vh;
      .texts,
      .icons {
        font-size: $font-up-1;
      }
    }
    &.categories-admin-dropdown,
    &.tags-admin-dropdown,
    &.category-notifications-button,
    &.tag-notifications-button {
      float: right;
      button {
        display: inline-block;
      }
    }
  }
  .category-heading {
    max-width: 100%;
  }
}

.topic-list-item.visited,
.latest-topic-list-item.visited,
.category-topic-link.visited {
  a.title:not(.badge-notification) {
    color: $primary-medium;
  }
}

.topic-list-main-link {
  font-size: $font-up-1;
  a.title {
    padding: 15px 0;
    word-break: break-word;
    color: $primary;
  }

  .anon & {
    a.title:visited:not(.badge-notification) {
      color: $primary-medium;
    }
  }

  a.title.visited:not(.badge-notification) {
    color: $primary-medium;
  }
}

.topic-status-info {
  display: none;
}
