// common/embedded.scss

.discourse-embedding {
  background-color: var(--fcc-primary-background);
  color: var(--header_background);
  overflow-y: auto;
  font-family: "Lato", sans-serif;

  // Buttons inside embedding
  .button {
    padding: 0 14px;
    height: 30px;
    line-height: 24px;
    margin-right: 5px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    background-color: var(--fcc-highlight-color);
    background-image: linear-gradient(
      var(--fcc-highlight-mid),
      var(--fcc-highlight-color)
    );
    border: 3px solid var(--fcc-highlight-color);
    color: var(--header_background);
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active:hover {
      background-color: var(--fcc-highlight-mid);
      border-color: #0050b3; // darken fixed manually
      background-image: none;
      color: var(--header_background);
      text-decoration: none;
    }

    &:active {
      background-image: none;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
      text-decoration: none;
    }
  }

  footer {
    .logo {
      display: none;
    }
  }
}
